div {
  border: 0px solid black;
}

.containerCentered {
  width: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.keyWordGraph {
  margin:calc(1em + 0.2vw);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.titleChart{
    font-size: 25px;
  padding:calc(0.4em + 0.1vw);
}
